# Ignore paths that contain user-generated content.
/www/sites/*/files
/www/sites/*/private

# Ignore some IDE files
/.project

# Ignore local files and directories
/local
/prod.env
/docker-compose.override.yml